@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f8f6fa;
}

.nav-slide{
  
}
.slide-text-background{
  background-color: linear-gradient(#a23b49, #6E2473);
  height: 50px;
  animation-name: text-background;
  animation-duration:10s;
  animation-delay: 0.2;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}

.nightmode{
  background-color: #2222;
  color: white;
}

.text-bgg{
  background:orange;
  animation-name: text-color;
  animation-duration:10s;
  animation-delay: 0.2;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}


@keyframes text-color {
  from{
    background:#c44b2e;
  }
 to{
    background: white;
  }
  from{
    background: white;
  }
  to{
    background: #c44b2e;
  }



}

@keyframes text-background {
  0% {
    width: 0px;
    background-color: #6E2473;
  }

  50%{
    width: 300px;
    background-color: #a23b49;
  }
  100%{
    width: 0px;
  }

}

/* @media screen and (max-width: 480px) {
  body {
    font-size: 50%;
  }
} */